*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}

::-webkit-scrollbar {
  display: none;
}



@font-face {
  font-family: 'Bahnschrift';
  src: url(../Fonts/bahnschrift.ttf);
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: 'Monograph';
  src: url(../Fonts/Monograf.ttf);
  
}

@font-face {
  font-family: 'Oswald';
  src: url(../Fonts/Oswald-VariableFont_wght.ttf);
  font-weight: bold;
  font-style: bold;
}

@import url(https://fonts.google.com/specimen/Oswald);

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }

/* MAIN  */

main {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

/* _FOX */

.main_fox {
    padding: 2em;
  }

  .modal-header {
    background-color: #171816;
    position: fixed;
    z-index: 2;
    height: 3em;
    top: 5%;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-footer {
    background-color: #171816;
  }

  #icon_fox {
    width: 2%;
  }

  .fs-5 {
    font-size: 2em !important;
    padding-left: 0.5em;
    padding-right: 1em;
    color: #EAEAEA;

    font-family: "Space Mono", monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }


  .btn-secondary {
    font-size: 2em;
    font-family: 'Oswald';
    --bs-btn-color: #EAEAEA;
    --bs-btn-bg: none !important;
    --bs-btn-border-color: #EAEAEA;
    --bs-btn-hover-color: #171816;
    --bs-btn-hover-bg: #EAEAEA;
    --bs-btn-hover-border-color: #EAEAEA;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  }

  #Universe_card_home {
    padding: 50px 50px;
    border-radius: 0.5em;
    height: 80vh;
    background-color: #171816;
    display: flex;
}

h2 {
    font-size: 10em;
    font-family: 'Oswald';
    color: #eaeaea;
    z-index: 1;
}

p {
    font-size: 1em;
    font-family: 'Mono';
    color: #949485;
    z-index: 1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_card01 {
    padding: 2%;
}

#img_card02 {
  padding: 5%;
  width: 100%;
}


#btn {
    align-items: flex-start;
}

.btn_explorar {
    color: #EAEAEA;
    border-style: none;
    background-color: #3dc169;
    border-radius: 4px; 
    font-size: 2em;
    font-family: 'Oswald';
    width: 100%;
    z-index: 1;
}

.btn_explorar:hover {
    color: #3dc169;
    border-style: none;
    background-color: #EAEAEA;
}

.btn_explorar a {
    text-decoration: none;
    color: #EAEAEA;
}

.btn_explorar a:hover {
    text-decoration: none;
    color: #3dc169;
}

/* Footer fox */

#footer_fox {

  padding: 50px 50px;
  border-radius: 0.2em;
  height: 60vh;
  
  background-image: url(/media/Bosque_still_v1_0003.png);
  background-color: #171816;
  
  
}

/* VIDEO HOVER  */

.project {
    box-sizing: border-box;
    
    height: 80vh; /* 50% de la altura de la ventana */
    overflow: hidden;
    margin-bottom: 1em;
    border-radius: 0.3em;
  }
  
  
  
  .media-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .project-image, .project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .project-video {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  
  .project:hover .project-image {
    opacity: 0;
  }
  
  .project:hover .project-video {
    opacity: 1;
    pointer-events: auto;
  }
  
  .project-title {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.4s ease;
  }
  
  .project:hover .project-title {
    opacity: 1;
    pointer-events: auto;
  }
  
  .project-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10; 
  }
  
  .project-title h1 {
    margin: 0;
    font-size: 2rem;
  }


  /* ORIGEN DE UNA IA  */

  .btn_ia {
    color: #171816;
    border-style: none;
    background-color: #ceb029;
    border-radius: 4px; 
    font-size: 2em;
    font-family: 'Oswald';
    width: 100%;
    z-index: 1;
}

.btn_ia:hover {
    color: #ceb029;
    border-style: none;
    background-color: #2b2c2a;
}

.btn_ia a {
    text-decoration: none;
    color: #171816;
}



.btn_ia a:hover {
    text-decoration: none;
    color: #ceb029;
}

/* Media Queries */

@media screen and (max-width: 700px) {

    .fs-5 {
      font-size: 1em !important;
      padding-left: 0.5em;
      color: #EAEAEA;
  
      font-family: "Space Mono", monospace !important;
      font-weight: 400 !important;
      font-style: normal !important;
    }
  
    h2 {
      font-size: 5em;
      font-family: 'Oswald';
      color: #eaeaea;
      z-index: 1;
  }
  
  .container-general {
    padding: 75px 0;
    margin: 0 auto;
    width: 400px;
    .gallery-wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 80vh;
      .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: all 0.8s ease;
        &:hover {
          flex: 7;
        }
      }
    }
  }
  
  }